.about-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  background-color: #151515;
}
.about-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.about-branding {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-items {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-text {
  text-decoration: none;
}
.about-navlink {
  text-decoration: none;
}
.about-navlink1 {
  text-decoration: none;
}
.about-navlink2 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.about-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.about-button1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: 20px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 20px;
  background-color: #235536;
}
.about-image {
  width: 100px;
  display: none;
  object-fit: cover;
}
.about-text05 {
  color: #ffffff;
  display: flex;
}
.about-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #151515;
}
.about-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-branding1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.about-company {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.about-menu-close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.about-items1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-links1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-text10 {
  color: #ffffff;
}
.about-hero {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: #151515;
}
.about-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.about-title {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 128px;
  max-width: 895px;
  font-weight: normal;
  line-height: 115px;
  text-transform: uppercase;
}
.about-description {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 24px;
  max-width: 800px;
  line-height: 36px;
}
.about-text13 {
  font-size: 18px;
}
.about-text14 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.about-text15 {
  font-size: 18px;
}
.about-text16 {
  font-size: 18px;
}
.about-text17 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.about-text18 {
  font-size: 18px;
}
.about-text19 {
  font-size: 18px;
}
.about-text20 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.about-text21 {
  font-size: 18px;
}
.about-text22 {
  font-size: 18px;
}
.about-text23 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.about-text24 {
  font-size: 18px;
}
.about-text25 {
  font-size: 18px;
}
.about-text26 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.about-text27 {
  font-size: 18px;
}
.about-text28 {
  font-size: 18px;
  font-weight: 700;
}
.about-text29 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.about-text30 {
  font-size: 18px;
  font-weight: 700;
}
.about-text31 {
  font-size: 18px;
  font-weight: 700;
}
.about-text32 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.about-text33 {
  font-size: 18px;
  font-weight: 700;
}
.about-text34 {
  font-size: 18px;
  font-weight: 700;
}
.about-text35 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.about-text36 {
  font-size: 18px;
  font-weight: 700;
}
.about-text37 {
  font-size: 18px;
  font-weight: 700;
}
.about-text38 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.about-text39 {
  font-size: 18px;
  font-weight: 700;
}
.about-text40 {
  font-size: 18px;
  font-weight: 700;
}
.about-text41 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.about-text42 {
  font-size: 18px;
}
.about-text43 {
  font-size: 18px;
}
.about-video {
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-video1 {
  flex: 1;
  width: 100%;
}
.about-featured {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
@media(max-width: 1200px) {
  .about-pasted-image {
    width: 495px;
    height: 222px;
  }
}
@media(max-width: 991px) {
  .about-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
  }
  .about-button {
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
  }
  .about-navlink2 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .about-text03 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .about-button1 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .about-image {
    width: 18px;
    height: 18px;
    display: flex;
  }
  .about-text05 {
    display: none;
  }
  .about-button2 {
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
  }
  .about-text10 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .about-header {
    height: 100%;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .about-title {
    font-size: 40px;
    line-height: 36px;
  }
  .about-description {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 767px) {
  .about-navbar-interactive {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .about-items {
    display: none;
  }
  .about-burger-menu {
    display: flex;
  }
  .about-button1 {
    padding: 12px;
  }
  .about-image {
    width: 14px;
    height: 14px;
  }
  .about-header {
    padding-bottom: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 479px) {
  .about-pasted-image {
    width: 236px;
    height: 105px;
  }
  .about-mobile-menu {
    padding: 16px;
  }
}
