<div>
  <link href="./service.css" rel="stylesheet" />
  <div class="service-service">
    <h3 class="service-title"><span>Computer Repairs</span></h3>
    <span class="service-description">
      <span>
        We provide fast and reliable computer repairs for all kinds of issues,
        such as hardware failures, software errors, virus infections and more.
        We can fix your computer on-site or remotely, depending on the problem
        and your preference. We also offer preventive maintenance and
        optimization services to keep your computer running smoothly and
        securely
      </span>
    </span>
  </div>
</div>
